* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #343a40;
  margin: 0 auto;
}
.form-box {
  width: 50%;
  padding: 2rem;
  margin: 0 auto;
  background-color: #f3f3f3;
}

.form-heading {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #343a40;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group:last-child {
  transition: all 0.3s;
}

.form-group input:placeholder-shown + label {
  opacity: 0;
  visibility: none;
  transform: translateY(-4rem);
}

.form-input,
.sex {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  width: 100%;
  display: block;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
.sex {
  outline: none;
  border: none;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #3b5bdb;
}

.form-input:focus:invalid {
  border-bottom: 3px solid rgba(255, 68, 0, 0.925);
}

.form-input::-webkit-input-placeholder {
  color: #999;
}

.form-label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  font-weight: 700;
  transition: all 0.3s;
}

.form-btn {
  padding: 0.5rem 1rem;
  text-align: center;
  /* text-decoration: none; */
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2rem;
  background-color: #0f172a;
  color: #fff;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  margin-top: 2.4rem;
}
